/* Large Devices, Wide Screens */

@media only screen and (min-width: 993px) and (max-width: 1200px) {}
/* Medium Devices, Desktops */

@media only screen and (min-width: 769px) and (max-width: 992px) {
}
/* Small Devices, Tablets */










@media only screen and (min-width: 481px) and (max-width: 768px) {
    .logo img {
        margin: 0 auto;
    }

.header_area h1 {
  font-size: 40px;
}

.product_description {
  margin-top: 0px;
}

.services h2 {
  text-align: center;
}
.products_area img {
  margin-top: 0px;

}

.inner_background {
  background:none;
}

}
















/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .logo img {
        margin: 0 auto;
    }
    .header_area h1 {
  font-size: 35px;
}
.product_description {
  margin-top: 0px;
}
.services h2 {
  text-align: center;
}
.products_area img {
  margin-top: 0px;

}
.witnesss_area img {
  min-width: 100%;
}
.inner_background {
  background:none;
}

.video_1 {
  margin-top: 30px;

}

}
