* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'gurmukhi_mnregular';
    src: url('fonts/gurmukhimn-webfont.eot');
    src: url('fonts/gurmukhimn-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gurmukhimn-webfont.woff2') format('woff2'), url('fonts/gurmukhimn-webfont.woff') format('woff'), url('fonts/gurmukhimn-webfont.ttf') format('truetype'), url('fonts/gurmukhimn-webfont.svg#gurmukhi_mnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kohinoor_devanagaridemi';
    src: url('fonts/kohinoordevanagari-demi-webfont.eot');
    src: url('fonts/kohinoordevanagari-demi-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/kohinoordevanagari-demi-webfont.woff2') format('woff2'), url('fonts/kohinoordevanagari-demi-webfont.woff') format('woff'), url('fonts/kohinoordevanagari-demi-webfont.ttf') format('truetype'), url('fonts/kohinoordevanagari-demi-webfont.svg#kohinoor_devanagaridemi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gurmukhi_mnbold';
    src: url('fonts/gurmukhimn-bold-webfont.eot');
    src: url('fonts/gurmukhimn-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gurmukhimn-bold-webfont.woff2') format('woff2'), url('fonts/gurmukhimn-bold-webfont.woff') format('woff'), url('fonts/gurmukhimn-bold-webfont.ttf') format('truetype'), url('fonts/gurmukhimn-bold-webfont.svg#gurmukhi_mnbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'gurmukhi_mnregular';
}

.top {
    background-image: url('img/bg.jpg');
    /*
    border-bottom: 5px solid transparent;
    border-top-width: 0px;
    -webkit-border-image: url('img/horizontal_underline.png') 30 stretch;
    
    -o-border-image: url('img/horizontal_underline.png') 30 stretch;
    /* Opera 11-12.1 
    
    border-image: url('img/horizontal_underline.png') 30 stretch;*/
}

.heighlighted_text {
    color: #932cbe !important;
    font-style: italic !important;
}

.bold {
    font-weight: bold !important;
    font-style: normal !important;
}
/**********************************************************************************************************
Header Area
 ***********************************************************************************************************/

.header_area h1 {
    font-size: 45px;
    font-family: 'gurmukhi_mnbold';
}

.logo img {
    height: 160px;
}

.row.header {
    margin-top: 30px;
}

.at_any_age {
    margin-right: 65px;
}

.tagline p {
    font-size: 20px;
}

.tagline {
    margin-left: 115px;
}
/**********************************************************************************************************
Header Area
 ***********************************************************************************************************/
/**********************************************************************************************************
Services Area
 ***********************************************************************************************************/

.product_description {
    margin-top: 85px;
}

.list_description p {
    font-size: 17px;
}

.services h2 {
    font-size: 30px;
    font-family: 'gurmukhi_mnbold';
}

#left_list {
    margin-left: 50px;
}

#right_list {}

.services_area ul li {
    color: #932cbe;
    font-size: 17px;
    list-style-image: url('img/dot.png');
}

.services_area ul li span {
    color: #343434;
}

.results p {
    font-size: 18px;
    font-weight: bold;
    border-color: #616161;
    margin-top: 5px;
}

.services_area img {
    height: 190px;
    float: right;
}

.plus_sign {
    font-weight: bold;
    font-style: normal;
    font-size: 50px !important;
}
/**********************************************************************************************************
Services Area
 ***********************************************************************************************************/
/**********************************************************************************************************
Products Area
 ***********************************************************************************************************/

.products_area {
    margin-bottom: 50px;
    background-image: url('img/horizontal_underline.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    /*
    border-bottom: 5px solid transparent;
    border-top-width: 0px;
    -webkit-border-image: url('img/horizontal_underline.png') 30 stretch;
 
    -o-border-image: url('img/horizontal_underline.png') 30 stretch;
   
    border-image: url('img/horizontal_underline.png') 30 stretch;*/
}

.products_area img {
    margin-top: -233px;
    /*min-width: 100%;*/
    float: right;
}

.button {
    margin-top: 30px;
}

.products_area a {
    background-color: #fad12c;
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 6px solid #ffffff;
    border-radius: 10px;
}

.button img {
    width: 50px;
    height: 50px;
}

.button h3 {
    font-style: italic;
    margin-top: 30px;
    font-size: 20px;
}

.video_1 {
    margin-top: 150px;
    margin-bottom: 50px;
}

.advert {
    font-size: 34px;
    text-align: right;
}

.bold {
    font-weight: bold;
}

.first_button {
    /*
    background-image: url('img/button_arrow.png');
    background-repeat: no-repeat;
    background-position: right top;*/
}
/**********************************************************************************************************
}
Products  Area
 ***********************************************************************************************************/
/**********************************************************************************************************
Witness  Area
 ***********************************************************************************************************/

.witnesss_area {
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-image: url('img/horizontal_underline.png');
    background-repeat: no-repeat;
    background-position: bottom center;
}

.witnesss_area h2 {
    margin-bottom: 40px;
    font-family: 'gurmukhi_mnbold';
}

.percent_description {
    font-size: 20px;
    margin-left: 15px;
}

.percent_description h4 {
    font-size: 20px;
    font-weight: bold;
}

.witnesss_area ul {
    margin: 0;
    padding: 10px;
}

.witnesss_area ul li {
    font-size: 17px;
    text-align: justify;
    font-weight: bold;
    color: #7c7c7c;
    list-style: none;
    line-height: 45px;
}

.witnesss_area ul li span {
    font-weight: bold;
    font-size: 35px;
    font-style: normal !important;
}

.witnesss_area img {
    margin-bottom: 10px;
}

.kohinoor {
    font-family: 'kohinoor_devanagaridemi';
}
/**********************************************************************************************************
Witness  Area
 ***********************************************************************************************************/
/**********************************************************************************************************
product_description_area
 ***********************************************************************************************************/

.product_description_area {
    min-height: 600px;
}

.product_description_area h4 {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: 30px;
}

.small_1 {
    margin-top: 55px;
}

.product_description_area p {
    font-size: 17px;
    padding: 0px 30px;
}

.product_details {
    padding: 0px 15px;
}

.plus {
    background-position: center 370px;
    background-repeat: no-repeat;
    background-image: url('img/plus_bg.png');
}
/**********************************************************************************************************
product_description_area
 ***********************************************************************************************************/
/**********************************************************************************************************
Animation  Area Starts
 ***********************************************************************************************************/

.animation_area {
    background-image: url('img/horizontal_underline.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 40px;
}

.inner_background {
    background: url('img/vertical_underline.png') no-repeat;
    background-position: bottom center;
    min-height: 500px;
    background-size: 5px 60%;
}

.row.inner_background img {
    max-width: 80%;
    height: 300px;
}

.inner_background p {
    font-size: 17px;
    padding: 0px 30px;
}
/**********************************************************************************************************
}
Animation  Area Ends
 ***********************************************************************************************************/
/**********************************************************************************************************
Trial Area
 ***********************************************************************************************************/

.trial-area {
    min-height: 150px;
    margin-bottom: 60px;
    background-image: url('img/horizontal_underline.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-top: 30px;
    /*
    margin-top: 60px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    padding: 15px;
    -webkit-border-image: url('img/horizontal_underline.png') 30 stretch;

    
    -o-border-image: url('img/horizontal_underline.png') 30 stretch;

    
    border-image: url('img/horizontal_underline.png') 30 stretch;*/
}

.small_trial_button {
    background-color: #fad12c;
    padding: 5px 15px;
    border: none;
    margin-top: 12px;
    font-weight: 800;
    color: #000;
}
/**********************************************************************************************************
Trial Area
 ***********************************************************************************************************/
/**********************************************************************************************************
Clients Area
 ***********************************************************************************************************/

.clients_area {
    background-image: url('img/horizontal_underline.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    /*
    border-bottom: 5px solid transparent;
    border-top-width: 0px;
    -webkit-border-image: url('img/horizontal_underline.png') 30 stretch;
    -o-border-image: url('img/horizontal_underline.png') 30 stretch;
    border-image: url('img/horizontal_underline.png') 30 stretch;*/
    
    padding-bottom: 55px;
}

.clients_area img {
    padding: 10px;
}
/**********************************************************************************************************
Clients Area
 ***********************************************************************************************************/
/**********************************************************************************************************
Customers Love Area
 ***********************************************************************************************************/

.customers_love_area h2 {
    margin-top: 35px;
    margin-bottom: 25px;
}

.customer_video {
    padding-bottom: 80px;
}

.row.customer_video p {
    font-size: 18px;
}

.last_eye {
    margin-top: 5px;
}

.customer_video p {
    font-size: 16px !important;
    padding: 0px 10px;
}

.customer_video img {
    width: 60%;
}
/**********************************************************************************************************
Customers Love Area
 ***********************************************************************************************************/
/**********************************************************************************************************
More Overviews Area
 ***********************************************************************************************************/

.reviews_area {
    margin-bottom: 30px;
}


.scrolled_div {
    height: 400px;
    border: 2px solid #a3a3a3;
    border-radius: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.comments span {
    color: #f2df09;
}
/**********************************************************************************************************
More Overviews Area
 ***********************************************************************************************************/
/**********************************************************************************************************
 Trial Button Area
 ***********************************************************************************************************/

.trial_button_area {
    margin-bottom: 30px;
}

.footer_trial_button {
    background-color: #fad12c;
    padding: 15px;
    border: none;
}
/**********************************************************************************************************
 Trial Button Area
 ***********************************************************************************************************/
/**********************************************************************************************************
 Footer Styles
 ***********************************************************************************************************/

.footer_area {}

.footer_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_area ul li {
    display: inline;
    border-right: 1px solid #676866;
}

.footer_area ul li a {
    text-decoration: none;
    color: #676866;
    font-size: 15px;
    padding: 10px;
}

.footer_area ul li a:hover {
    text-decoration: underline;
}
/**********************************************************************************************************
 Footer Styles
 ***********************************************************************************************************/
/***********************************************************************************************************
Trial Page Styles
 ***********************************************************************************************************/

table {
    color: #5b7d9d;
    font-weight: 600;
    margin-top: 30px;
    min-height: 418px;
}

.table>tbody>tr>th {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.limited {
    background: #7c50a1;
    margin-top: 30px;
    color: #fff;
}

.limited h2 {
    font-size: 20px;
    font-weight: bold;
}

.information {
    background: #9a6fbf;
    color: #fff;
}

.information h2 {
    font-size: 18px;
}

.myform {
    border: 1px solid #507496;
    padding: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact_form a {
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 8px;
    background: #7c51a7;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.contact_form p {
    color: #7491ac;
}

.contact_form {
    padding: 10px;
}

.stickem-container {
    position: relative;
}

.stickit {
    margin-left: 560px;
    position: fixed;
    top: 0;
    width: 400px;
}

.stickit-end {
    bottom: 0;
    position: absolute;
    right: 0;
}

#contact {
    /*
    float: right;*/
}

#contact.stick {
    /*
    position: fixed;
    top: 0;
    margin-left: 565px;
    width: 400px;*/
}

button {
    margin-bottom: 20px;
    padding: 8px 30px;
    border-radius: 8px;
    background: #7c51a7;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: none;
}

.terms {
    color: #335d85;
}

.terms {
    margin-bottom: 30px;
    padding: 15px;
}

.large_font {
    font-size: 16px;
}
/*Terms Page*/

.terms_area {
    margin-bottom: 30px;
}

.terms_button {
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.terms_area h2 {
    color: #1C436E;
    font-size: 20px;
    font-weight: bold;
    font-family: 'kohinoor_devanagaridemi';
}

.terms_area p {
    color: #245782;
    font-family: 'kohinoor_devanagaridemi';
    font-size: 16px;
}
/*Returns page  */

.return_button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.trial_image {
    margin-top: 30px;
}

.return_area h2 {
    color: #1C436E;
    font-size: 20px;
    font-weight: bold;
    font-family: 'kohinoor_devanagaridemi';
}

.return_area {
    margin-bottom: 30px;
}

.return_area p {
    color: #245782;
    font-family: 'kohinoor_devanagaridemi';
    font-size: 16px;
}
